In [1]:
import pandas as pd
from source import cls
import numpy as np

In [5]:
user = pd.read_csv('dataset/user.csv')
book = pd.read_csv('dataset/book.csv')
data = pd.read_csv('dataset/book_with_description.csv').drop('Unnamed: 0', axis=1)

In [6]:
data.columns

Index(['Id', 'Name', 'Authors', 'ISBN', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews', 'PagesNumber'],
      dtype='object')

In [8]:
user.columns

Index(['ID', 'Name', 'Rating', 'Rating_score', 'Rating_bin'], dtype='object')

In [7]:
data

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,...,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber
0,1000000,Flight from Eden,Kathryn A. Graham,0595199402,4.00,2001,1,10,Writer's Showcase Press,5:1,...,3:1,2:0,1:0,total:3,1,NaN,380.0,"What could a computer expert, a mercenary with...",1.0,NaN
1,1000001,Roommates Again,Kathryn O. Galbraith,0689505973,3.20,1994,1,4,Margaret K. McElderry Books,5:0,...,3:1,2:0,1:1,total:5,1,NaN,44.0,"During their stay at Camp Sleep-Away, sisters ...",1.0,NaN
2,1000003,The King At The Door,Brock Cole,0374440417,3.95,1992,31,12,Farrar Straus Giroux,5:5,...,3:4,2:1,1:0,total:19,0,NaN,32.0,A poorly dressed old man appears at an inn and...,0.0,NaN
3,1000004,"Giotto: The Scrovegni Chapel, Padua",Bruce Cole,080761310X,4.47,1993,1,8,George Braziller,5:9,...,3:0,2:1,1:0,total:15,2,NaN,118.0,This beautiful series lavishly illustrates the...,2.0,NaN
4,1000005,Larky Mavis,Brock Cole,0374343659,3.69,2001,3,8,"Farrar, Straus and Giroux (BYR)",5:19,...,3:9,2:7,1:4,total:51,8,NaN,32.0,<b>Another orginal picture-book fairy tale</b>...,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064895,999976,Yesterday & Today: A Study Of Continuities In ...,Colin E. Gunton,0802819745,3.50,1983,1,1,William B. Eerdmans Publishing Company,5:2,...,3:3,2:1,1:0,total:6,1,NaN,240.0,"In this study of the relation of form, content...",1.0,NaN
1064896,999980,I'm Still Me,Betty Jean Lifton,0553254685,3.75,1982,1,3,Bantam,5:2,...,3:2,2:1,1:0,total:8,0,NaN,208.0,A history assignment to explore her roots prop...,0.0,NaN
1064897,999989,Gender Talk: The Struggle For Women's Equality...,Johnnetta Betsch Cole,0345454138,4.03,2003,30,12,One World/Ballantine,5:27,...,3:18,2:2,1:1,total:59,2,eng,336.0,"In the Black community, rape, violence against...",2.0,NaN
1064898,999992,Good Will Toward Men: Women Talk Candidly abou...,Jack Kammer,0312104715,0.00,1994,1,2,St. Martin's Press,5:0,...,3:0,2:0,1:0,total:0,0,NaN,231.0,In interviews with gender issues journalist Ja...,0.0,NaN
1064899,999993,Would You Rather . . . ?: The Outrageous Book ...,Randy Horn,0761124209,3.81,2001,1,10,Workman Publishing Company,5:39,...,3:34,2:11,1:2,total:121,14,NaN,400.0,<i>Would You Rather...?</i> takes the idea of ...,14.0,NaN

In [3]:
# Выявляем англоязычные тексты
from langdetect import detect, DetectorFactory
DetectorFactory.seed = 0
detect_lang = []
for text in book['Description']:
    try:
        detect_lang.append(detect(text))
    except:
        print(len(detect_lang), text)
        detect_lang.append('no')

5603 1-59397-748-4
8981 (1941-1955)

In [4]:
for lang in list(set(detect_lang)):
    print(lang, detect_lang.count(lang))

es 546
zh-tw 3
cs 5
tr 7
fi 2
en 30470
ro 2
et 1
pt 29
lv 1
de 186
hr 6
hu 2
ca 6
fr 294
fa 57
pl 6
sv 12
af 4
zh-cn 1
no 4
ur 1
el 2
ja 3
id 4
lt 1
tl 1
ru 6
nl 8
da 3
sk 1
ar 3
bg 2
it 63

In [5]:
book['lang'] = detect_lang

In [8]:
book[book['lang'] == 'en'].to_csv('dataset/book.csv')

In [3]:
value_counts = data['Language'].value_counts()

In [17]:
# Предположим, что value_counts - это результат value_counts() для вашего столбца DataFrame

# Указываем путь к файлу, куда хотим сохранить результат
file_path = "value_counts.txt"

# Открываем файл для записи
with open(file_path, "w") as file:
    # Записываем результат value_counts() в файл
    file.write(value_counts.to_string())

print(f"Результат сохранен в файл: {file_path}")

Результат сохранен в файл: value_counts.txt

In [24]:
from nltk.corpus import stopwords
print(stopwords.fileids())

['arabic', 'azerbaijani', 'basque', 'bengali', 'catalan', 'chinese', 'danish', 'dutch', 'english', 'finnish', 'french', 'german', 'greek', 'hebrew', 'hinglish', 'hungarian', 'indonesian', 'italian', 'kazakh', 'nepali', 'norwegian', 'portuguese', 'romanian', 'russian', 'slovene', 'spanish', 'swedish', 'tajik', 'turkish']

In [9]:
from nltk.corpus import stopwords

with open("source/language.txt", "r") as file:
    # Читаем строки из файла
    lines = file.readlines()
language = [line.strip().split()[0] for line in lines]

stop_words = []
for lang in language:
    stop_words += stopwords.words(lang)

In [ ]:
def load_stop_words():
    with open("source/language.txt", "r") as file:
        lines = file.readlines()
        language = [line.strip().split()[0] for line in lines]

        stop_words = []
        for lang in language:
            stop_words += stopwords.words(lang)
        return stop_words + ['.', ',', "''", '--', '-', "``", '“', '”', '(', ')', ':', ';', '!', '?', '/', '%', '&', '@', '#', '…', '...', '’', '....']

['и',
 'в',
 'во',
 'не',
 'что',
 'он',
 'на',
 'я',
 'с',
 'со',
 'как',
 'а',
 'то',
 'все',
 'она',
 'так',
 'его',
 'но',
 'да',
 'ты',
 'к',
 'у',
 'же',
 'вы',
 'за',
 'бы',
 'по',
 'только',
 'ее',
 'мне',
 'было',
 'вот',
 'от',
 'меня',
 'еще',
 'нет',
 'о',
 'из',
 'ему',
 'теперь',
 'когда',
 'даже',
 'ну',
 'вдруг',
 'ли',
 'если',
 'уже',
 'или',
 'ни',
 'быть',
 'был',
 'него',
 'до',
 'вас',
 'нибудь',
 'опять',
 'уж',
 'вам',
 'ведь',
 'там',
 'потом',
 'себя',
 'ничего',
 'ей',
 'может',
 'они',
 'тут',
 'где',
 'есть',
 'надо',
 'ней',
 'для',
 'мы',
 'тебя',
 'их',
 'чем',
 'была',
 'сам',
 'чтоб',
 'без',
 'будто',
 'чего',
 'раз',
 'тоже',
 'себе',
 'под',
 'будет',
 'ж',
 'тогда',
 'кто',
 'этот',
 'того',
 'потому',
 'этого',
 'какой',
 'совсем',
 'ним',
 'здесь',
 'этом',
 'один',
 'почти',
 'мой',
 'тем',
 'чтобы',
 'нее',
 'сейчас',
 'были',
 'куда',
 'зачем',
 'всех',
 'никогда',
 'можно',
 'при',
 'наконец',
 'два',
 'об',
 'другой',
 'хоть',
 'после',
 'над',
 'больше',
 'тот',
 'через',
 'эти',
 'нас',
 'про',
 'всего',
 'них',
 'какая',
 'много',
 'разве',
 'три',
 'эту',
 'моя',
 'впрочем',
 'хорошо',
 'свою',
 'этой',
 'перед',
 'иногда',
 'лучше',
 'чуть',
 'том',
 'нельзя',
 'такой',
 'им',
 'более',
 'всегда',
 'конечно',
 'всю',
 'между']

In [15]:
89471 / 935275

0.09566277298120873

In [11]:
935275 / 1064900

0.8782749553948728

In [7]:
book.head(15)

,Name,Description,Stem_Description
0,The Restaurant at the End of the Universe (Hit...,Just when you thought it was safe to go back t...,thought safe go back bookstor dougla adam pre...
1,Siddhartha,This classic of twentieth-century literature c...,classic twentieth-centuri literatur chronicl ...
2,"The Hunger Games (The Hunger Games, #1)",<b>WINNING MEANS FAME AND FORTUNE.<br />LOSING...,win mean fame fortune.los mean certain death....
3,The Authoritative Calvin and Hobbes: A Calvin ...,"<i>The Authoritative Calvin and Hobbes</i>, is...",authorit calvin hobb large-format treasuri ca...
4,The Return of the Indian (The Indian in the Cu...,Omri can hardly contain his excitement when he...,omri hardli contain excit win first prize nat...
5,The Name of the Rose,<i><u>Librarian note:</u> Older edition of <a ...,librarian note older edit 9780099466031.the y...
6,Dark Apprentice (Star Wars: The Jedi Academy T...,As the New Republic takes devastating losses i...,new republ take devast loss ongo war scatter ...
7,A Short History of Nearly Everything,One of the world's most beloved and bestsellin...,one world 's belov bestsel writer take ultim ...
8,"The Mysterious Caravan (Hardy Boys, #54)",When the Hardy Boys take a winter vacation in ...,hardi boy take winter vacat jamaica joe find ...
9,"Angels & Demons (Robert Langdon, #1)",When a world renowned scientist is found bruta...,world renown scientist found brutal murder sw...
10,"The Return of the King (The Lord of the Rings,...",The third volume in J.R.R. Tolkien's epic adve...,third volum j.r.r tolkien 's epic adventur lo...
11,"The Girl with the Dragon Tattoo (Millennium, #1)","40 years ago, Harriet Vanger disappeared off t...",40 year ago harriet vanger disappear seclud i...
12,"The Murder on the Links (Hercule Poirot, #2)",Belgian detective Hercule Poirot is summoned t...,belgian detect hercul poirot summon franc rec...
13,Harry Potter and the Prisoner of Azkaban (Harr...,"Harry Potter, along with his best friends, Ron...",harri potter along best friend ron hermion st...
14,"Thunderball (James Bond, #9)","The girl looked him up and down. He had dark, ...",girl look dark rather cruel good look clear b...

In [8]:
texts = list(book['Stem_Description'])
for i in range(len(texts)):
    if type(texts[i]) != type('str'):
        print(type(texts[i]), i, texts[i])

In [5]:
user[user['Name'] == 'Frequently Asked Questions about Academic Anxiety']

,ID,Name,Rating,Rating_score,Rating_bin
171217,5250,Frequently Asked Questions about Academic Anxiety,liked it,3,0

In [6]:
book.iloc[13]['Name']

'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)'

In [13]:
data[data['Authors'] == 'J.K. Rowling'].to_excel('test.xlsx')